<header class="masthead" style="background-image: url(&quot;assets/img/proyects/proyect-Adina.jpg&quot;);">
    <div class="container">
        <div class="intro-text">
            <div class="intro-heading text-uppercase">
                <span style="-webkit-text-stroke: 1px rgba(120,120,120,0.50);">ProYECTO<br>ADINA</span>
            </div>
            <a class="btn btn-primary border-dark btn-xl text-uppercase js-scroll-trigger" role="button" href="#portfolio" style="background-color: rgb(255,165,85);border:none;">NUESTROS<br>DEPARTAMENTOS</a>
        </div>
    </div>
</header>
<section id="portfolio" class="bg-light" style="padding: 75px 0px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="text-uppercase section-heading">DEPARTAMENTOS</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4 portfolio-item">
                <a routerLink="/apartment/1" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                    </div><img class="img-fluid" src="assets/img/departments/department-Adina-01.jpg"><a
                        class="btn btn-primary border-dark text-uppercase" role="button" href="#portfolio"
                        style="background-color: rgb(255,165,85);border: none;position: absolute;right: 5px;bottom: 5px;font-size: 12px;font-weight: bold;color: rgba(255,255,255,0.75);">Cotizar</a>
                </a>
                <div class="portfolio-caption">
                    <h4>Nº 43</h4>
                    <p class="text-muted"><strong><em>145 m² - 4ºPiso</em><br></strong></p>
                    <p class="text-muted">Mixto</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 portfolio-item">
                <a routerLink="/apartment/2" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                    </div><img class="img-fluid" src="assets/img/departments/department-Boulogne-01.jpg"><a
                        class="btn btn-primary border-dark text-uppercase" role="button" href="#portfolio"
                        style="background-color: rgb(255,165,85);border: none;position: absolute;right: 5px;bottom: 5px;font-size: 12px;font-weight: bold;color: rgba(255,255,255,0.75);">Cotizar</a>
                </a>
                <div class="portfolio-caption">
                    <h4>Nº 36</h4>
                    <p class="text-muted"><strong><em>214 m² - 3ºPiso</em><br></strong></p>
                    <p class="text-muted">Duplex</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 portfolio-item">
                <a routerLink="/apartment/3" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                    </div><img class="img-fluid" src="assets/img/departments/department-Collings-01.jpg"><a
                        class="btn btn-primary border-dark text-uppercase" role="button" href="#portfolio"
                        style="background-color: rgb(255,165,85);border: none;position: absolute;right: 5px;bottom: 5px;font-size: 12px;font-weight: bold;color: rgba(255,255,255,0.75);">Cotizar</a>
                </a>
                <div class="portfolio-caption">
                    <h4>Nº 61</h4>
                    <p class="text-muted"><strong><em>158 m² - 6ºPiso</em><br></strong></p>
                    <p class="text-muted">Estudio</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 portfolio-item">
                <a routerLink="/apartment/4" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                    </div><img class="img-fluid" src="assets/img/departments/department-PacificHighway-01.jpg"><a
                        class="btn btn-primary border-dark text-uppercase" role="button" href="#portfolio"
                        style="background-color: rgb(255,165,85);border: none;position: absolute;right: 5px;bottom: 5px;font-size: 12px;font-weight: bold;color: rgba(255,255,255,0.75);">Cotizar</a>
                </a>
                <div class="portfolio-caption">
                    <h4>Nº 56</h4>
                    <p class="text-muted"><strong><em>110 m² - 5ºPiso</em><br></strong></p>
                    <p class="text-muted">Loft</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 portfolio-item">
                <a routerLink="/apartment/5" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                    </div><img class="img-fluid img-fluid" src="assets/img/departments/department-Thomas-01.jpg"><a
                        class="btn btn-primary border-dark text-uppercase" role="button" href="#portfolio"
                        style="background-color: rgb(255,165,85);border: none;position: absolute;right: 5px;bottom: 5px;font-size: 12px;font-weight: bold;color: rgba(255,255,255,0.75);">Cotizar</a>
                </a>
                <div class="portfolio-caption">
                    <h4>Nº 13</h4>
                    <p class="text-muted"><strong><em>130 m² - 1ºPiso</em><br></strong></p>
                    <p class="text-muted">Flat</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 portfolio-item">
                <a routerLink="/apartment/6" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                    </div><img class="img-fluid" src="assets/img/departments/department-Timber-01.jpg"><a
                        class="btn btn-primary border-dark text-uppercase" role="button" href="#portfolio"
                        style="background-color: rgb(255,165,85);border: none;position: absolute;right: 5px;bottom: 5px;font-size: 12px;font-weight: bold;color: rgba(255,255,255,0.75);">Cotizar</a>
                </a>
                <div class="portfolio-caption">
                    <h4>Nº 79</h4>
                    <p class="text-muted"><strong><em>290 m² - 7ºPiso</em><br></strong></p>
                    <p class="text-muted">Tradicional</p>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="map-clean">
    <div class="container">
        <div class="intro">
            <h2 class="text-uppercase text-center" style="margin-bottom: 25px;">Ubicación</h2>
            <p class="text-center"><em>Av. Alcazar 538 - Miraflores<br></em></p>
        </div>
    </div>
    <iframe class="bg-white d-block" allowfullscreen="" frameborder="0" width="100%" height="450" src="https://www.google.com/maps/embed/v1/place?q=Universidad%20Peruana%20de%20Ciencias%20Aplicadas&amp;key=AIzaSyA-mX5Z7eJL5GKASzo5gSNavXxX748a5Y4" style="padding: 20px;padding-top: 0;"></iframe>
</div>