<header class="masthead" style="background-image: url(&quot;assets/img/backgrounds/header-bg.jpg&quot;);">
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">
                <span style="-webkit-text-stroke: 1px rgba(120,120,120,0.50);">Bienvenido a J&amp;J!</span>
            </div>
            <div class="intro-heading text-uppercase">
                <span style="-webkit-text-stroke: 1px rgba(120,120,120,0.50);">&nbsp;CONTRUYENDO EL FUTURO</span>
            </div>
            <a class="btn btn-primary border-dark btn-xl text-uppercase js-scroll-trigger" role="button" href="#portfolio" style="background-color: rgb(255,165,85);border:none;">NUESTROS proyectos</a>
        </div>
    </div>
</header>

<section id="portfolio" class="bg-light" style="padding: 75px 0px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="text-uppercase section-heading">PROYECTOS</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4 portfolio-item">
                <a routerLink="/project/1" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                    </div><img class="img-fluid" src="assets/img/proyects/proyect-Adina.jpg"></a>
                <div class="portfolio-caption">
                    <h4>Adina</h4>
                    <p class="text-muted"><strong><em>Desde S/.310 300</em><br></strong></p>
                    <p class="text-muted">Av. Alcazar 538 - Miraflores</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 portfolio-item">
                <a routerLink="/project/2" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                    </div><img class="img-fluid" src="assets/img/proyects/proyect-Boulogne.jpg"></a>
                <div class="portfolio-caption">
                    <h4>Boulogne</h4>
                    <p class="text-muted"><strong><em>Desde S/.421 200</em><br></strong></p>
                    <p class="text-muted">Av. Arica 615 - Breña</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 portfolio-item">
                <a routerLink="/project/3" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                    </div><img class="img-fluid" src="assets/img/proyects/proyect-Collins.jpg"></a>
                <div class="portfolio-caption">
                    <h4>Collings</h4>
                    <p class="text-muted"><strong><em>Desde S/.449 400</em><br></strong></p>
                    <p class="text-muted">Av. Sucre 461 - San Isidro</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 portfolio-item">
                <a routerLink="/project/4" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                    </div><img class="img-fluid" src="assets/img/proyects/proyect-PacificHighway.jpg"></a>
                <div class="portfolio-caption">
                    <h4>Pacific Highway</h4>
                    <p class="text-muted"><strong><em>Desde S/.501 000</em><br></strong></p>
                    <p class="text-muted">Av. Donizetti 986 - San Borja</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 portfolio-item">
                <a routerLink="/project/5" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                    </div><img class="img-fluid img-fluid" src="assets/img/proyects/proyect-Thomas.jpg"></a>
                <div class="portfolio-caption">
                    <h4>Thomas</h4>
                    <p class="text-muted"><strong><em>Desde S/.511 000</em><br></strong></p>
                    <p class="text-muted">Av. Palermo 283 - La Victoria</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 portfolio-item">
                <a routerLink="/project/6" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                    </div><img class="img-fluid" src="assets/img/proyects/proyect-Timber.jpg"></a>
                <div class="portfolio-caption">
                    <h4>Timber</h4>
                    <p class="text-muted"><strong><em>Desde S/.544 000</em><br></strong></p>
                    <p class="text-muted">Av. San Diego 736 - Ate</p>
                </div>
            </div>
        </div>
    </div>
</section>