<div class="container" style="padding-top: 120px;">
    <h3>Acerca de Nosotros</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
        Facilis ipsam, perferendis quaerat consequatur corporis commodi ut 
        tempore quas magnam accusamus quibusdam vel error eaque enim, 
        similique veniam provident, quia esse!</p>
</div>